.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}

.App .error {
  color: rgb(255, 60, 60);
  margin-bottom: 1em;
  font-size: 1.25em;
}

@media (max-width: 1024px) {
  .App {
    width: 100%;
  }
}

.new-task input {
  margin-right: 1em;
  width: 50%;
  height: 1.5em;
}
