body {
  margin: 0;
  font-family: "Teko", sans-serif;
  background-image: linear-gradient(225deg, #e3fdf5 0%, #ffe6fa 100%);
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
}

button {
  padding: 0.25em 0.75em;
}

h1 {
  margin: 0;
}
